html {
  scroll-behavior: smooth;
}

:root {
  --color-accent: #4cffc9;
  --color-light: #f7fffd;
  --color-medium-light: #d6f2eb;
  --color-medium-dark: #003d2e;
  --color-dark: #00281e;
  --color-neutral: #5e8278;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-light: rgb(187, 187, 187);
  --color-grey-dark: rgb(124, 124, 124);

  --font-title: "Bree Serif", serif;
  --font-body: "Inter", sans-serif;
}

.title {
  font-family: var(--font-title);
  font-size: 3rem;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .title {
    font-size: 3.5rem;
  }
}

.section-title-light {
  font-family: var(--font-title);
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--color-medium-light);
}

.section-title-dark {
  font-family: var(--font-title);
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--color-medium-dark);
}

.sub-title-dark {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-medium-dark);
}

.sub-title-light {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-medium-light);
}

.section-label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-neutral);
}

.card-title-light {
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-medium-light);
}

.card-title-dark {
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-medium-dark);
}

.body-light {
  font-family: var(--font-body);
  font-size: 0.875rem;
  line-height: 1.625;
  color: var(--color-grey-light);
}

.body-dark {
  font-family: var(--font-body);
  font-size: 0.875rem;
  line-height: 1.625;
  color: var(--color-grey-dark);
}

.display {
  font-family: var(--font-title);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
}
